body {
    font-family: 'Roboto', sans-serif;
}

header {
    background: url("../img/hero.jpg") no-repeat center center / cover;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    margin-bottom: 30px;
}

a { transition: all 0.3s ease-in-out; }

.wrap {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

h1 {
    font-size: 35px;
    line-height: 1;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 30px;
}

p {
    color: #0e315a;
    font-size: 18px;
    line-height: 1.3;
}

.intro {
    font-style: italic;
    font-size: 20px;
    position: relative;
}

.intro:after {
    content: url("../img/quotations.png");
    position: absolute;
    right: -60px;
    bottom: -25px;
    opacity: 0.3;
    display: block;
}

.btn {
    display: inline-block;
    max-width: 175px;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 12px;
}

.btn--blue {
    background-color: #002c5f;
    color: #fff;
    opacity: 1;
}

.btn--blue:hover {
    opacity: 0.8;
}

.heading {
    color: #002c5f;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
}

.heading::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
    background-color: #ea7425;
    z-index: -1;
}

section {
    padding: 60px 0;
}

.project {
    color: #0e315a;
}

.project p {
    margin-bottom: 10px;
}

.project__img-wrap {
    margin-bottom: 35px;
    display: block;
    overflow: hidden;
    box-shadow: 0 8px 65px 8px rgba(32, 38, 157, 0.14);

}

.project__img-wrap:hover {
    box-shadow: 0 1px 12px 1px rgba(32, 38, 157, 0.14);
}

.project__img-wrap img {
    display: block;
    border-radius: 3px;
    width: 100%;
}

.project__title {
    color: #0e315a;
    opacity: 1;
    display: block;
}

.project__title:hover {
    opacity: 0.8;
}

.pattern {
    background: url("../img/pattern.svg");
    background-size: auto;
    background-repeat: no-repeat;
}

.backend {
    background-position: top right;
    background-size: auto;
}

footer {
    background-color: #182235;
    padding-top: 20px;
}

footer .copyrights {
    color: #fff;
    font-size: 14px;
}

.cody {
    max-width: 150px;
}

.txt--right {
    text-align: right;
}

.project img {
    max-height: 200px;
    object-fit: cover;
    object-position: top;
}

.author-wrap img {
    max-width: 30px;
    margin-left: 15px;
}

.author-wrap p {
    margin-bottom: 0;
}

.fullstack-content {
    display: none;
}

@media screen and (max-width: 992px) {
    .project {
        margin-bottom: 30px;
    }

    .project__img-wrap {
        margin-bottom: 10px;
    }

    section {
        padding: 30px 0;
    }

    .intro:after {
        display: none;
    }
}